* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: linear-gradient(#D8C7FF, black); */
    background-image:linear-gradient(to right, #f7f8f8, #acbb78);
    font-family: "poppins";
}

.container {
    width: 800px;
    margin: auto;
    padding: 20px 40px;
    background: white;
    margin-top: 90px;
    margin-bottom: 90px;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}
.container h1{
    margin: 0;
}

.container hr{
    height: 2px;
    border: none;
    background: black;
}

.container h2{
    font-size: 25px;
    font-weight: 500;
}

.container ul{
    padding: 0;
}

.container ul li{
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 15px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 17px;
    cursor: pointer;
}

.container button{
    margin: auto;
    width: 170px;
    height: 55px;
    background: #553f9a;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 7px;
    cursor: pointer;
}

.container button:hover{
    background: #45337a;
}

.container .index{
    margin: auto;
    font-size: 18px;
}

.container .correct{
    background: #b2f69f;
    border-color: rgb(3, 102, 3);
}

.container .wrong{
    background: #ffb4b4;
    border-color: #ff4a4a;
}